* {
	margin: 0;
	padding: 0;
}

/* Home Page  */
/* Nav 1  */
.navbar {
	display: flex;
	justify-content: flex-end;
	line-height: 25px;
	text-align: center;
	position: relative;
}
.navbar-items {
	margin: 30px;
	font-size: 25px;
}

/* Nav 2  */
.navbar2 {
	display: flex;
	justify-content: flex-end;
	background-color: rgba(255, 0, 0, 0.7);
	line-height: 25px;
	text-align: center;
	position: relative;
	display: none;
}
.navbar-items2 {
	margin: 15px;
	font-size: 20px;
}

.logo {
	position: absolute;
	top: 2px;
	left: 20px;
}
.about-section {
	display: flex;
}
.about-us {
}

.project-section {
	display: flex;
}
.project-samples {
}

/* About Us Page  */
.mission {
	display: flex;
}
.missions {
}
